<header>
    <nav>
      <a href="/">MapleLeaf</a>
      <ul>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Author</a></li>
        <li><a href="/booklogs">Booklogs</a></li>
        <li><a href="/booklogs/new">Add Booklog</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/users/new">Add User</a></li>
      </ul>
    </nav>
  </header>
  